<h1>Isaac Juarez</h1>
<h2>First app angular</h2>
<div>
    {{title}}
</div>
<div>
    la suma de 2 y 2 es {{2+2}}
</div>

<app-listado-peliculas></app-listado-peliculas>

<div>el doble de 3 es {{duplicarNumero(3) }}</div>

<h2>Datos de la película</h2>
<p *ngIf="peliculas?.length === 0">No hay peliculas que mostar.</p>
<div *ngIf="!peliculas"><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" /></div>
<div *ngIf="peliculas && peliculas.length > 0">
    <div  *ngFor="let pelicula of peliculas; let index = index" class="peliculaContenedor">
        <div>Película {{index + 1}} {{pelicula.titulo | uppercase}}</div>
        <div>{{pelicula.fechaLanzamiento | date: 'yyyy-MMMM-dd' | uppercase}}</div>
        <div>{{pelicula.precio | currency}}</div>
    </div>
</div>